.card {
    display: flex;
    margin: auto;
    margin-top: 20px;
}



.tags-contain div{
    text-align:center;
    display:inline-block;
}


.tags {
    background-color: gray;
    margin-right: 10px;
    padding: 3px 3px;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    font-size: small;
    font-weight: bold;
}

.price{
    font-size: larger;
}
.divider{
    font-size: medium;
    color: #D3D3D3;
    margin: 0px 10px
}

.rating{
    font-weight: bold;
    color: green;
}

.stock{
    font-weight: bold;
}