.cart-image{
    padding: 20PX;
}

.cart-amount{
    padding: 8px 20px 12px ;
    background-color: #F8F9FA;
    border-radius: 8px;
    margin-top: 30px;
}

.cart-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.trash{
    margin-right: 10px;
}